<!DOCTYPE html>
<html>
<%- include('section/head'); %>
<body>
<%- include('section/banner', {highlite: 'about'}); %>
<div id="main">
    <div id="content">
        <%- include('section/about'); %>
    </div>
</div>
<%- include('section/foot'); %>
</body>
</html>
