    <article role="article">
        <header>
            <h1 class="entry-title">Blog Archive</h1>
        </header>
        <div id="blog-archives">
            <%
                var year = 0;
                site.posts.forEach(function(post) {
                    var newYear = new Date(post.date).getFullYear();
                    if (newYear != year) {
                        year = newYear; %>
                        <h2><%- newYear %></h2>
            <%      } %>
                    <%- include('section/archive', {post: post}); %>
            <% }); %>
        </div>
    </article>
