<!DOCTYPE html>
<html>
    <head>
        <title>Standard Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>A heading for the standard page</h1>
        <%= page.body %>
    </body>
</html>

