    <article class="hentry" role="article">
<!--
This is article 4 of the 4 part Series: "<span style="color:red">Sockets</span>".<br>
See side panel "Series" for details.<br><br>
-->

    <%- include('section/post-header', {post: page}) %>
    <%- include('section/render', {post: page, postSize: -1}) %>
    <%- include('section/post-footer', {post: page}) %>

    </article>
