<header role="banner">
    <div class="header-left">
        <hgroup>
            <h1><a href="/"><%- config.title %></a></h1>
            <% if (config.description) { %>
            <div class="subtitle">
                <h2><%- config.description %></h2>
            </div>
            <% } %>
        </hgroup>
    </div>

    <% if (config.menu) { %>
    <div class="header-right">
        <ul class="main-navigation">
            <% config.menu.forEach(function(item) { %>
                <div <% if (item.active) { %> class="selected" <% } %> >
                    <li><a href="<%- item.url %>"><%- item.name %></a></li></div><div class="spacer">
                </div>
            <% }); %>
        </ul>
    </div>
    <% } %>
</header>
