<% site.posts.forEach(function(post) { %>
<div id="main">
    <div id="content">
        <div class="blog-index">
            <article>
                <header>
                    <h1 class="entry-title"><a href="/blog/2016/05/29/socket-protocols/"><%- post.title %></a></h1>
                        <p class="meta">
                            <%- time(post.date) %>
                            | <a href="/blog/2016/05/29/socket-protocols/#disqus_thread" data-disqus-identifier="http://lokiastari.com/blog/2016/05/29/socket-protocols/">Comments</a>
                        </p>
                </header>
            </article>
        </div>
    </div>
</div>
<% }); %>
