<article>
    <h1><%- series %></h1>
        <ul>
            <%
            site.pages.forEach(function(page) {
                if (page.series == series) { %>
                    <li><a href="<%- page.path %>"><%- page.title %></a></li>
            <%  }
            }); %>
        </ul>
</article>
